EXPO_PUBLIC_WEATHERBIT_API_KEY=your_weatherbit_api_key

EXPO_PUBLIC_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=your_project_id
EXPO_PUBLIC_APPWRITE_DATABASE_ID=your_database_id
EXPO_PUBLIC_APPWRITE_TABLE_ID=books
EXPO_PUBLIC_APPWRITE_PLATFORM=your.bundle.id
EXPO_PUBLIC_APPWRITE_DEV_KEY=your_development_key
